* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #dadbd4;
    position: relative;
    z-index: 0;
}

.container>span{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100vh / 5.5);
    background-color: #009688;
}

.areaWhatsapp{
    z-index: 2;
    display: flex;
    width: 80%;
    height: 93vh;
    background-color: #fff;
}

.areaContactUser,
.areaChatInUse{
    display: flex;
    flex-direction: column;
}

.areaContactUser{
    flex-basis: 35%;
}

.areaChatInUse{
    flex-grow: 1;
    border-left: 1.5px solid #dcdcdc;
}

.infoAccount{
    width: 100%;
    height: 65px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.infoAccount img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 15px;
}

.graphicAccount,
.controllerAccount{
    display: flex;
    align-items: center;
}

.controllerAccount a{
    margin: 0 8px;
    color: #b1b1b1;
    font-size: 1.2rem;
}

.dataUser p:nth-child(2){
    font-size: 0.8rem;
    padding: 5px 0;
    color: #93989a;
}