* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(218, 219, 212);
    background: linear-gradient(180deg, rgba(218, 219, 212, 1) 10%, rgba(210, 219, 219, 1) 90%);
    position: relative;
    z-index: 0;
}

.container>span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100vh / 6.3);
    background-color: #009688;
}

.areaWhatsapp {
    z-index: 2;
    display: flex;
    width: 80%;
    height: 95vh;
    background-color: #fff;
}

.areaContactUser,
.areaChatInUse {
    display: flex;
    flex-direction: column;
}

.areaContactUser {
    flex-basis: 33%;
    border-right: 1px solid #dcdcdc;
}

.areaChatInUse {
    flex-grow: 1;
}

.infoAccount {
    width: 100%;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.infoAccount p {
    font-size: 0.9rem;
}

.infoAccount img,
.user img {
    border-radius: 50px;
    margin-right: 12px;
}

.infoAccount img {
    width: 45px;
    height: 45px;
}

.graphicAccount,
.controllerAccount {
    display: flex;
    align-items: center;
}

.controllerAccount a {
    margin: 0 8px;
    color: #b1b1b1;
    font-size: 1.1rem;
}

.enableNotifications a p,
.dataUser p:nth-child(2) {
    font-size: 0.7rem;
    padding: 3px 0;
    color: #7f7f7f;
}

.notificationArea,
.user {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.notificationArea {
    background-color: #8edafc;
    height: 80px;
}

.notificationArea p {
    font-size: 0.9rem;
}

.imageBell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 10px;
}

.imageBell i {
    font-size: 1.1rem;
    color: #8edafc;
}

.activeSearch {
    width: 100%;
    height: 45px;
    padding: 4px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #f3f3f3;
}

.searchIcon i {
    font-size: 0.8rem;
    color: #a4a4a4;
}

.searchUser {
    height: 100%;
    flex-grow: 1;
}

.searchUser input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-left: none;
    padding: 5px;
    font-size: 0.7rem;
}

.searchUser input:focus-visible {
    outline: none;
    border: 1px solid #f3f3f3;
    border-left: none;
}

.areaUsers {
    height: 100%;
    overflow-y: scroll;
}

.contactsUsers{
    display: none;
}

.user {
    position: relative;
    height: 58px;
    border-bottom: 1px solid #f3f3f3;
    cursor: pointer;
}

.user img {
    width: 43px;
    height: 43px;
}

.user.active {
    background-color: #e9ebeb;
}

.user .dataUser p {
    position: relative;
    top: -3px;
    font-size: 0.9rem;
}

.colorText p:nth-child(2),
.user .timesLastMess {
    color: #c6c6c6;
    font-size: 0.7rem;
}

.user .timesLastMess {
    position: absolute;
    top: 10px;
    right: 10px;
}

.infoMessageUser {
    position: relative;
    height: 100%;
    padding: 60px 30px;
    background-color: #f3eeea;
}

.infoMessageUser span i{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.6rem;
    color: #c6c6c6;
    cursor: pointer;
}

.infoMessageUser.close{
    display: none;
}

.infoMessageUser .textLastMessage{
    width: 100%;
    padding: 30px 20px;
    display: inline-block;
    background-color: rgb(247, 247, 247);
}

.infoMessageUser p{
    line-height: 1.7rem;
}

.infoMessageUser p:nth-child(1){
    font-weight: bolder;
}

.areaChatInUse .areaChat {
    overflow-y: scroll;
    display: flex;
    /* flex-direction: column-reverse; */
    background-image: url("../img/mine.jpg");
    flex-grow: 1;
}

.areaChat > ul {
    list-style-type: none;
    width: 100%;
    padding: 50px 75px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
}

.areaChat > ul > li {
    display: flex;
    width: 40%;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}

.areaChat > ul > li p{
    padding-right: 20px;
    line-height: 1.3rem;
}

.areaChat > ul > li span,
.messageDetail {
    display: none;
}

.areaChat > ul > li:hover span {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: rgb(177, 177, 177);
    z-index: 5;
}

.boxInfoMessage{
    display: none;
}

.areaChat > ul > li .boxInfoMessage.view{
    display: block;
}

.boxInfoMessage > ul{
    position: absolute;
    top: 30px;
    right: 7px;
    width: 170px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(177, 177, 177);
    background-color: #fff;
    z-index: 5;
}

.boxInfoMessage > ul li{
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    align-items: center;
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.boxInfoMessage > ul li:hover{
    background-color: #f6f6f6;
}

.areaChat > ul .sent {
    background-color: #d5f9ba;
    align-self: end;
}

.areaChat > ul > li .timeMessage {
    position: absolute;
    font-size: 0.5rem;
    color: #9d9d9d;
    bottom: 2px;
    right: -8px;
}

.areaChat > ul .received {
    background-color: #fff;
    align-self: start;
}

.areaSendMessage {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: #f3eeea;
}

.areaSendMessage i {
    color: #777;
    font-size: 1.3rem;
    padding: 0 30px;
}

.areaSendMessage input {
    flex-grow: 1;
    height: 70%;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
}