<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="img/whatsapp - favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="js/script.js" defer></script>
    <script type="text/javascript" src="js/data.js"></script>
</head>

<body>
    <div id="root">
        <div class="container">
            <span></span> <!-- Span utilizzato per ricreare la barra verde di sfondo -->
            <div class="areaWhatsapp">
                <div class="areaContactUser">

                    <!-- Area superiore barra grigia sinistra -->
                    <div class="infoAccount">
                        <div class="graphicAccount">
                            <img src="img/avatar_io.jpg" alt="My Avatar">
                            <p>Sofia</p>
                        </div>
                        <div class="controllerAccount">
                            <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                            <a href="#"><i class="fa-solid fa-message"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>

                    <!-- Barra azzurra area notifiche di sinistra -->
                    <div class="notificationArea">
                        <div class="imageBell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="enableNotifications">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">
                                <p>Attiva notifiche desktop</p>
                            </a>
                        </div>
                    </div>

                    <!-- 
                    Milestone 4
                    ● Ricerca utenti: scrivendo qualcosa nell’input a sinistra, vengono visualizzati solo i
                    contatti il cui nome contiene le lettere inserite (es, Marco, Matteo Martina -> Scrivo
                    “mar” rimangono solo Marco e Martina)
                    -->

                    <!-- Barra di ricerca area di sinistra -->
                    <div class="activeSearch">
                        <div class="searchIcon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="searchUser">
                            <input type="text" v-model="userSearch" @keyup="showSearchedAccount"
                                placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>

                    <!-- Area di sinistra per gli account utenti -->
                    <div class="areaUsers">
                        <div v-for="(contact, index) in contacts" v-if="showSearchedAccount().includes(contact.name)" class="user" @click="changeVisible(index)"
                            :class="{'active': contact.visible}">
                            <div class="graphicAccount">
                                <img :src="getUrlAvatar(index)" :alt="getAltAvatar(index)">
                                <div class="dataUser colorText">
                                    <p>{{contact.name}}</p>
                                    <p>Ultimo messaggio inviato</p>
                                </div>
                            </div>
                            <p v-for="(element, indexElement) in contact.messages"
                                v-if="element.status === 'received' && indexElement > 0" class="timesLastMess">
                                {{getDate(element.date)}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="areaChatInUse">
                    <!-- Area superiore barra grigia destra -->
                    <div class="infoAccount">
                        <div v-for="(contact, index) in contacts" v-if="contact.visible" class="graphicAccount">
                            <img :src="getUrlAvatar(index)" :alt="getAltAvatar(index)">
                            <div class="dataUser">
                                <p>{{contact.name}}</p>
                                <p>Ultimo accesso oggi alle
                                    <span v-for="(element, indexElement) in contact.messages"
                                        v-if="element.status === 'received' && indexElement > 0">
                                        {{getDate(element.date)}}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="controllerAccount">
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    <!-- Area centrale destra dedicata alla chat -->
                    <div class="areaChat" v-for="contact in contacts" v-if="contact.visible">
                        <ul>
                            <li v-for="textMessages in contact.messages" :class="textMessages.status">
                                <p>{{textMessages.message}}</p>
                                <p class="timeMessage">{{getDate(textMessages.date)}}</p>
                            </li>
                        </ul>
                    </div>
                    <!-- Area inferiore barra grigia destra per l'invio dei messaggi-->
                    <div class="areaSendMessage">
                        <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="textInput"
                            @keyup.enter="addNewMessage">
                        <a href="#" v-if="textInput.length > 0" @click="addNewMessage"><i
                                class="fa-solid fa-paper-plane"></i></a>
                        <a href="#" v-else><i class="fa-solid fa-microphone"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>