<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="img/whatsapp - favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="js/script.js" defer></script>
    <script type="text/javascript" src="js/data.js"></script>
</head>

<body>
    <div id="root">
        <div class="container">
            <span></span> <!-- Span utilizzato per ricreare la barra verde di sfondo -->
            <div class="areaWhatsapp">
                <div class="areaContactUser" @Click="hideWindow">

                    <!-- Area superiore barra grigia sinistra -->
                    <div class="infoAccount">
                        <div class="graphicAccount">
                            <img src="img/avatar_io.jpg" alt="My Avatar">
                            <p>Sofia</p>
                        </div>
                        <div class="controllerAccount">
                            <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                            <a href="#"><i class="fa-solid fa-message"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>

                    <!-- Barra azzurra area notifiche di sinistra -->
                    <div class="notificationArea">
                        <div class="imageBell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="enableNotifications">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">
                                <p>Attiva notifiche desktop</p>
                            </a>
                        </div>
                    </div>

                    <!-- Barra di ricerca area di sinistra -->
                    <div class="activeSearch">
                        <div class="searchIcon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="searchUser">
                            <input type="text" v-model="userSearch" @keyup="showSearchedAccount"
                                placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>

                    <!-- Area di sinistra per gli account utenti -->
                    <div class="areaUsers">
                        <div :class="{'contactsUsers' : showLastMessageSent.length > 0, 'active': contact.visible}"
                            v-for="(contact, index) in contacts" v-if="showSearchedAccount().includes(contact.name)"
                            class="user" @click="changeVisible(index)">
                            <div class="graphicAccount">
                                <img :src="getUrlAvatar(index)" :alt="getAltAvatar(index)">
                                <div class="dataUser colorText">
                                    <p>{{contact.name}}</p>
                                    <p>Ultimo messaggio inviato</p>
                                </div>
                            </div>
                            <p class="timesLastMess">
                                {{getDateUser(contact)}}
                            </p>
                        </div>
                        <div class="infoMessageUser" :class="{'close': showLastMessageSent === ''}">
                            <span @click="showLastMessageSent = ''"><i class="fa-solid fa-xmark"></i></span>
                            <div class="textLastMessage">
                                <p>Messaggio inviato:</p>
                                <p>{{showLastMessageSent.slice(0, 10)}} alle ore {{showLastMessageSent.slice(10, 16)}}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="areaChatInUse">
                    <!-- Area superiore barra grigia destra -->
                    <div class="infoAccount">
                        <div v-for="(contact, index) in contacts" v-if="contact.visible" class="graphicAccount">
                            <img :src="getUrlAvatar(index)" :alt="getAltAvatar(index)">
                            <div class="dataUser">
                                <p>{{contact.name}}</p>
                                <p v-if="!isDescriptionLastAccess">Ultimo accesso oggi alle {{getDateUser(contact)}}</p>
                                <p v-else>{{showDescriptionLastAccess}}</p>
                            </div>
                        </div>
                        <div class="controllerAccount">
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    <!-- Area centrale destra dedicata alla chat -->
                    <div class="areaChat" v-for="(contact, indexContact) in contacts" v-if="contact.visible">
                        <ul>
                            <li v-for="(textMessages, indexText) in contact.messages" :class="textMessages.status">
                                <span @Click="showDetails(indexText)">
                                    <i @Click="showHide(contact.name)" class="fa-solid fa-chevron-down"></i>
                                </span>
                                <p>{{textMessages.message}}</p>
                                <p class="timeMessage">{{textMessages.date.slice(11, 16)}}</p>

                                <div v-if="showDetailsMessage" class="boxInfoMessage"
                                    :class="{'view': indexText === indexShowDetailsMessage}">
                                    <ul>
                                        <li @click="infoMessage(textMessages.date)">Info Messaggio</li>
                                        <li @click="deleteMessage(indexContact)">Cancella Messaggio</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- Area inferiore barra grigia destra per l'invio dei messaggi-->
                    <div class="areaSendMessage">
                        <i v-if="showHideEmojisBox === false" @click="showHideEmojis"
                            class="fa-regular fa-face-smile"></i>
                        <i v-else @click="showHideEmojis" class="fa-solid fa-xmark"></i>
                        <div v-if="showHideEmojisBox" class="smileFace">
                            <ul>
                                <li @click="emojiSelected(emojiObj.emoji)" v-for="emojiObj in emojis">
                                    {{emojiObj.emoji}}
                                </li>
                            </ul>
                        </div>
                        <input v-if="!isAudio" type="text" placeholder="Scrivi un messaggio" v-model="textInput"
                            @keyup.enter="addNewMessage">
                        <div v-else class="recordAudio">
                            <i class="fa-solid fa-trash"></i>
                            <i class="fa-solid fa-microphone"></i>
                            <span>{{timerRec}}</span>
                        </div>
                        <i v-if="textInput.length > 0" @click="addNewMessage" class="fa-solid fa-paper-plane"></i>
                        <i v-else id="mic" @mousedown="showBoxAudio" @mouseup="showBoxAudio" class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>